page-register {
    ion-input {
        background-color: #fff;
    }

    ion-label {
        color: #fff;
    }

    h1 {
        color: #fff;
    }

    #oprettbruker {
        text-align: center;
    }

    #logo {
        display: block;
        height: 50px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    #steg {
        color: #fff;
        text-align: center;
        font-size: 10;
    }

    #registerbutton {
        color: color($colors, color2);
        margin-top: 15px;
    }
}
