page-tabs {
    .tabs-md .tab-button[aria-selected=true] {
        background: color($colors, color2);
        color: #2B232F;
        .tab-button-icon{
            color: #2B232F;
        }
        
    }

    .tabs-ios .tab-button[aria-selected=true] {
        background: color($colors, color2);
        color: #2B232F;
        .tab-button-icon{
            color: #2B232F;
        }
    }

    .tabsStyle {
        //border-top: 5px color($colors, color2) solid;
    }
}
