<ion-header>

  <ion-navbar>
    <ion-title>Recipes</ion-title>
    <ion-buttons end>
        <!-- User -->
        <button ion-button icon-only color="royal" (click)="pushAuthUser()"> 
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Recipes</h1>
  <button block ion-button (click)="pushRecipeDetails()">Eksempeloppskrift</button>
  
  <div *ngIf="loading">
      <p>Laster</p>
      <ion-spinner></ion-spinner>
    </div>
  <div *ngIf="!loading">
    <ion-list no-lines>
      <!-- <ion-item *ngFor="let recipe of recipes | async" (click)="pushRecipeDetails(recipe)">
        <ion-thumbnail item-start>
          <img [src]="post.postImg">
        </ion-thumbnail>
        <h2 text-wrap>{{recipename}} Name</h2>
        <p>{{recipetime}} Time/portions/ w/e</p>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>
