<ion-header>
  <ion-navbar class="navbarStyle">
    <ion-searchbar placeholder="Søk etter en oppskrift..."></ion-searchbar>
    <ion-buttons end>
        <button class="userbutton" ion-button icon-only (click)="pushUser()"> 
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section>
    <h1>Alle oppskrifter</h1>
    <div *ngIf="loading">
        <p>Laster</p>
        <ion-spinner></ion-spinner>
      </div>
    <div *ngIf="!loading">
      <ion-list no-lines>
        <ion-item *ngFor="let recipe of allrecipes | async" (click)="pushRecipeDetails(recipe)">
          <h2 text-wrap>{{recipe.recipeName}}</h2>
          <p>{{recipe.recipeGrade}}, {{recipe.recipeTimeInMinutes}} min</p>
        </ion-item>
      </ion-list>
    </div>
  </section>

  <br>

  <!--TODO <section>
    <h1>Favoritter</h1> 
      <div *ngIf="loading">
        <p>Laster</p>
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="!loading">
        <ion-list no-lines>
          <ion-item *ngFor="let recipe of allrecipes | async" (click)="pushRecipeDetails(recipe)">
            <h2 text-wrap>{{recipe.recipeName}}</h2>
            <p>{{recipe.recipeGrade}}, {{recipe.recipeTimeInMinutes}} min</p>
          </ion-item>
        </ion-list>
      </div>
  </section> -->
</ion-content>
