page-cart {
    .deleteText
    {
        color: #ffffff
    }

    .container
    {
        height: 50px;
        width: 100%;
        position: relative;
    }

    .deleteCart
    {
        position: absolute;
        width: 60%;
        top: -3px;
        right: 0;
    }

    .trash
    {
        position: absolute;
        right: 10px;
    }
}
