page-home {
    .button {
        margin-top: 3%;
    }

    h1
    {
        color: #ffffff;
    }

    .contentStyle
    {
        background-color: #433445;
    }

    #addToCartText
    {
        color: #2B232F;
    }

    ion-label
    {
        color: #2B232F;
    }
}
