page-settings {
    h1 {
        color: #fff;
    }

    ion-input {
        background-color: #fff;
    }

    ion-label {
        color: #fff;
    }

    #buttonSaveSettings {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
