.userbutton {}

ion-navbar {
    height: 66px;
  }

.navbarStyle {
    border-bottom: 1px color($colors, color2) solid;
    color: color($colors, color1);
}

.contentStyle {
   background-color: color($colors, color1);
}  

.toast-wrapper 
{
    transform: translateY(-70px) !important;
}

.userbutton
{
    font-size: 20px;
}

.ion-list
{
    background-color: #433445;
}

.recipeCard
{

        height: 150px;
        background-color: white;
        margin-bottom: 10px;
}

.cardText
{
    position: absolute; 
    bottom: 10px;
}

.default
    {
        color: #FFFFFF;
        background-color: #433445;
    }