.userbutton {}

ion-navbar {
    height: 66px;
  }

.navbarStyle {
    border-bottom: 1px color($colors, color2) solid;
    color: color($colors, color1);
}

.contentStyle {
   background-color: color($colors, color1);
}  

.toast-wrapper 
{
    // transform: translateY(-70px) !important;
}


