<ion-header>
  <ion-navbar class="navbarStyle">
    <ion-title>
      Brukerinformasjon
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushPreferences()"> 
        <ion-icon name="cog" class="ion-icon-with-text">
          <p class="ion-icon-text">Preferanser</p>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <!-- Logout -->
      <button ion-button icon-only color="royal" (click)="logoutUser()"> 
        <ion-icon name="exit" class="ion-icon-with-text">
          <p class="ion-icon-text">Logg ut</p>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="contentStyle">
  <div *ngIf="loading">
      <p>Laster</p>
      <ion-spinner></ion-spinner>
    </div>
  <div *ngIf="!loading">
      <ion-item text-wrap *ngFor="let user of users | async" class="default">
        <img *ngIf="user.userImg" [src]="user.userImg">
        <p class="text">Navn: {{user.userSurname}}, {{user.userName}}</p>
        <p class="text">Email: {{user.userEmail}}</p>
        <p class="text">Telefon: {{user.userPhone}}</p>
        <p class="text">Adresse: {{user.userAdress}}</p>
      </ion-item>
  </div>

  <br>
  
  <button block ion-button color (click)="changeSettings()" class="userButtons">Innstillinger</button>
  <button block ion-button class="userButtons" onclick="window.open('https://kolonial.no/kundeservice/', '_system', 'location=yes'); return false;">Hjelp</button>
  <button block ion-button (click)="logoutUser()" class="userButtons">Logg ut</button>
</ion-content>