<ion-header>
  <ion-navbar>
    <ion-title>
      Brukerinformasjon
      <!-- {{currentUserEmail}} -->
    </ion-title>
    <ion-buttons end>
      <!-- Logout -->
      <button ion-button icon-only color="royal" (click)="logoutUser()"> 
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loading">
      <p>Laster</p>
      <ion-spinner></ion-spinner>
    </div>
  <div *ngIf="!loading">
      <ion-item text-wrap *ngFor="let user of users | async">
        <!-- TODO? picture -->
        <p>Navn: {{user.userSurname}}, {{user.userName}}</p>
        <p>Email: {{user.userEmail}}</p>
        <p>Telefon: {{user.userPhone}}</p>
        <p>Adresse: {{user.userAdress}}</p>
      </ion-item>
  </div>

  <br>
  <button block ion-button (click)="pushRecipeHistory()">Historikk</button>
  <button block ion-button (click)="pushSettings()">Innstillinger</button>
  <button block ion-button (click)="pushAddWares()">Legg til varer</button>
</ion-content>