page-createrecipe 
{
    .change-ingredients-q-button
    {
        background-color: #FFA700;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        font-size: 30px;
    }

    .sections
    {
        border-bottom: 2px solid #000000;
    }

    .multipleOptions
    {
        color: #000000;
        background-color: #ffffff;
    }

    .text
    {
        font-size: 20px;
    }

    .quantity
    {
        font-size: 25px;
    }
}