<ion-header>
  <ion-navbar class="navbarStyle">
    <ion-title>
      Historikk
    </ion-title>
    <ion-buttons end>
      <button class="userbutton" ion-button icon-only (click)="pushSettings()"> 
        <ion-icon name="cog" class="ion-icon-with-text">
          <p class="ion-icon-text">Instillinger</p>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button class="userbutton" ion-button icon-only (click)="pushUser()"> 
        <ion-icon name="contact" class="ion-icon-with-text">
          <p class="ion-icon-text">Profil</p>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="contentStyle">
  <ion-list no-lines>
    <ion-item *ngFor="let recipe of history" (click)="pushRecipeDetails(recipe)" class="recipeCard">
        <img *ngIf="recipe.recipeImg" [src]="recipe.recipeImg" class="image">
        <div class="cardText">
        <h1 class="imageText" text-wrap>{{recipe.recipeName}}</h1>
        <h3 class="imageDescription">{{recipe.recipeGrade}}, {{recipe.recipeTimeInMinutes}} min</h3>
          </div>
    </ion-item>
  </ion-list>
</ion-content>
