<ion-header>
  <ion-navbar class="navbarStyle">
    <ion-title>
    </ion-title>
    <ion-buttons end *ngIf="myRecipe">
        <button class="userbutton" ion-button icon-only (click)="deleteMyRecipe()"> 
          <ion-icon name="trash" class="ion-icon-with-text">
          </ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end>
        <button class="userbutton" ion-button icon-only (click)="pushUser()"> 
          <ion-icon name="contact" class="ion-icon-with-text">
            <p class="ion-icon-text">Min Profil</p>
          </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="default">
    <ion-item class ="recipeCard">
        <img *ngIf="recipe.recipeImg" [src]="recipe.recipeImg" class="image">
      <div class="cardText">
        <h1 class="imageText" text-wrap>{{recipe.recipeName}}</h1>
        <!-- <p>{{recipe.recipeGrade}}, {{recipe.recipeTimeInMinutes}} min</p> -->
      </div>
      <ion-buttons end class="favButton" *ngIf="!isFavorited"> 
        <button clear ion-button (click)='addToFavorites()'>
          <ion-icon name="heart" color="light" class="favButton"></ion-icon>
        </button>
        </ion-buttons>
      <ion-buttons class="favButton" end *ngIf="isFavorited">
          <button clear ion-button (click)='removeFromFavorites()'>
          <ion-icon name="heart"  color="color3" class="favButton" (click)='removeFromFavorites'></ion-icon>
          </button>
      </ion-buttons>
    </ion-item>

    
    <p>{{recipe.recipeTimeInMinutes}} minutter, {{recipe.recipePortions}} porsjoner</p>
    <div *ngIf="isPlanning">
        <!-- //todo make buttons static on bottom of screen, remember to add space so the button doesn't block text -->
        <button block ion-button (click)="addRecipeToDay()">{{addDinnerButtonText}}</button>
      </div>
    <p>Ingredienser</p>
    <ion-list no-lines>
      <ion-item class="default" *ngFor="let ingredient of ingredients; let i = index">
        <p class="text" text-wrap><!--{{ingredientsQ[i]}} {{ingredient.wareName}}--></p>
      </ion-item>
    </ion-list>
    
    <p>Instrukser</p>
    <ion-list no-lines>
      <ion-item *ngFor="let step of instructions" class="default">
        <p class="text" text-wrap>{{step}}</p>
      </ion-item>
    </ion-list>

    <div *ngIf="isPlanning">
      <!-- //todo make buttons static on bottom of screen, remember to add space so the button doesn't block text -->
      <button block ion-button (click)="addRecipeToDay()">{{addDinnerButtonText}}</button>
    </div>
</ion-content>


