page-recipedetails {
    .ion-content
    {
        color: #FFFFFF;
        background-color: #433445;
    }

    .favButton
    {
        width: 33px;
    }

    .text
    {
        color: #FFFFFF;
    }

    .favButton
    {
        font-size: 35px;
        position: absolute;
        top: 0;
        right: 0;
        border: black solid 0px;
    }

    .trash
    {
        position: absolute;
        right: 30%;
    }
    .delete
    {
        position: relative;
        width: 100%;
    }

    .static-planning-button
    {
        position: fixed;
        bottom: 10%;
        width: 90%;
    }
}