page-recipedetails {
    .ion-content
    {
        color: #FFFFFF;
        background-color: #433445;
    }

    .recipeCard
    {
        position: relative;
        background-image: url("recipe.recipeImg");
    }

    #image
    {
        //width: 100%;
        //height: 100%;
    }
}
