<ion-card>
  <ion-card-header (click)="addRecipes()">
    <ion-item color="primary" class="accordion-display-text">
      {{displaydate}}
      <button ion-button clear small icon-only item-right>
        <ion-icon color="light" [name]="icon"></ion-icon>
      </button>
    </ion-item>
  </ion-card-header>

  <ion-card-content #cc>
    <div *ngIf="planned">
      <ion-item (click)="pushRecipeDetails()" class="recipeCard" color="color3">
        <img *ngIf="recipe.recipeImg" [src]="recipe.recipeImg">
        <p>{{recipe.recipeName}}</p>
        <button block ion-button (click)="removeDayPlans()">Slett</button> <!-- TODO removing plans leaves whitespace -->
        <!-- {{recipe.recipeTimeInMinutes}}
        {{recipe.recipePortions}}
        {{recipe.recipeGrade}} 
        -->
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>