accordion {
    .card-header{
        background-color: color($colors, primary);
        color: #fff;
        height: 60px;
    }

    .card-content {
        padding: 0px 16px;
        max-height: 0px;
    }

    .accordion-display-text
    {
        top: -7px;
    }
}
